# Terraform variable values
# Copy this file to terraform.tfvars and update with your values

resource_group_name = "rg-appgw-waf-test-poc"
location            = "eastasia" # Change to your preferred region

# VM Admin credentials
admin_username = "azureadmin"
admin_password = "CHANGE-ME-StrongP@ssw0rd123!"

# Deploy Synapse workspace (set to false if using existing)
deploy_synapse = true

# Synapse SQL Admin credentials (only needed if deploy_synapse = true)
synapse_sql_admin_username = "sqladminuser"
synapse_sql_admin_password = "CHANGE-ME-SynapseP@ssw0rd456!"
